mitumbavenv/
__pycache__/
*.pyc
db.sqlite3
.env
.venv/

mitumbaesales/authentication/*
mitumbaesales/notification/*
mitumbaesales/offer/*
mitumbaesales/order/*
mitumbaesales/payments/*
mitumbaesales/product/*
mitumbaesales/reviews/*
mitumbaesales/cart/*

